@model IEnumerable<EventEase.Models.Venue>

@{
    ViewData["Title"] = "Venue";
}
<h1>Venue</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="event-container">
    @foreach (var item in Model)
    {
        <div class="event-block">
            <h4>@Html.DisplayFor(modelItem => item.VenueName)</h4>
            <p> Location: @Html.DisplayFor(modelItem => item.Location)</p>
            <p> Capacity: @Html.DisplayFor(modelItem => item.Capacity)</p>
            <p> Image Url: @Html.DisplayFor(modelItem => item.ImageUrl)</p>

            <!-- Display the image if the ImageUrl is not null or empty -->
            @if (!string.IsNullOrEmpty(item.ImageUrl))
            {
                <img src="@item.ImageUrl" alt="@item.VenueName" class="venue-image" />
            }

            <div class="event-actions">
                <a asp-action="Edit" asp-route-id="@item.VenueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VenueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VenueId">Delete</a>
            </div>
        </div>
    }
</div>